/* 

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.load {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.load div {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    margin: 0 5px;

    animation-name: loading;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load .two {
    animation-delay: 0.3s;
}

.load .three {
    animation-delay: 0.6s;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0.2;
    }

} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
/* 
  body {
    background: rgb(41, 2, 2);
  } */
/* 
  .parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: #ddd;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.parent div {
    color: white;
    background: rgb(61, 15, 15);
    padding: 20px;
    text-align: center;
} */



/*
  .parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
} */


/* auto-fit and auto-fill and ch character */
/* .page {
    height: 500px;
    background: #eee;
    margin: 20px auto;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
}


.page>div {
    width: 500px;
    padding: 10px;
    background: rgb(30, 196, 47);
    color: white;
    text-align: center;
    margin: 0 auto;
} */

/* .page {    
    height: 500px;
    background: #eee;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 3rem 25% 1fr 2fr


}


.page>div {
    height: 100px;
    padding: 10px;
    background: rgb(30, 196, 47);
    color: black;
    text-align: center;
    margin: 0 auto;
} */

:root {
    --colorWhite: white;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto 100px;
}

header {
    grid-column: 1 / -1;
    color: var(--colorWhite);
    background: lightblue;
}

section {
    background: orange;
    color: var(--colorWhite);
    grid-column: 1 / 3;
}

aside {
    background-color: gray;
    color: var(--colorWhite);
}

footer {
    background: green;
    grid-column: 1 / span 4;
}

/* .parent {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10px repeat(5, 1fr);
    grid-template-rows: 100px auto 200px;
    grid-template-areas: "header header header header header header header"
                         "side side cont cont cont cont span"
                         "foot foot foot foot foot foot foot"
}

header {
    background: rgb(171, 49, 49);
    grid-area: header;
}


aside {
    background: rgb(46, 46, 169);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: side;
}


main {
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: cont;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    color: white;
    grid-area: span;
}

footer {
    background: #12fddd;
    grid-area: foot;
} */


/* .parent {
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    "asideFirst asideFirst header header header header span1 span1"
    "asideFirst asideFirst one one two two asideSecond asideSecond"
    "asideFirst asideFirst three four four asideSecond asideSecond";
    gap: 10px;
}

aside.first {
    background: green;
    grid-area: asideFirst;
}

header {
    background: green;
    grid-area: header;
}

span {
    background-color: red;
    grid-area: span1;
}

.one {
    background-color: gold;
    grid-area: one;
}

.two {
    background: red;
    grid-area: two;
}

.three {
    background-color: red;
    grid-area: three;
}

.four {
    background: gold;
    grid-area: four;
}

aside.second {
    background: green;
    grid-area: asideSecond;
} */